@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">
        <section class="card shadow-sm p-4">
            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <h2 class="text-center mb-4">Create a new account</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger mb-3" role="alert"></div>

                <!-- Email Field -->
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" placeholder="name@example.com" required aria-label="Email" />
                    <label asp-for="Input.Email" class="form-label">Email address</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>

                <!-- Password Field -->
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="new-password" type="password" placeholder="Password" required aria-label="Password" />
                    <label asp-for="Input.Password" class="form-label">Password</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>

                <!-- Confirm Password Field -->
                <div class="form-floating mb-3">
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" type="password" placeholder="Confirm Password" required aria-label="Confirm Password" />
                    <label asp-for="Input.ConfirmPassword" class="form-label">Confirm Password</label>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>

                <!-- Register Button -->
                <div>
                    <button id="registerSubmit" type="submit" class="btn btn-primary w-100 btn-lg">Register</button>
                </div>
            </form>
        </section>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
